[package]
authors = ["Remi Lafage <remi.lafage@onera.fr>"]
name = "cobyla"
version = "0.3.2"
edition = "2018"
license-file = "LICENSE.md"
description = "COBYLA optimizer for Rust"
readme = "README.md"
repository = "https://github.com/relf/cobyla/"
keywords = ["optimizer", "optimization", "constrained", "derivative-free"]
categories = ["algorithms", "api-bindings", "science"]
documentation = "https://docs.rs/cobyla"

[dependencies]
libc = "0.2"
argmin = "0.8.0"
serde = "1"
instant = "0.1"

[dev-dependencies]
approx="0.5"
